FORMAT: 1A
HOST: https://api-draft.kenticocloud.com/

# Kentico Draft API

![Kentico Draft](https://kenticocloud.com/logotypes/kentico_draft_rgb_small.png)

Kentico Draft API helps you automate exporting content from Kentico Draft to the CMS of your choice. By accessing the whole content inventory, you can build your integrations or one-off scripts to export content.

## Authorization
To know that it's really you, we need you to include some information in the HTTP request. Every API call should contain your API Key and Access token.

### API Key
Getting an API Key is easy, just drop us a line at draft@kentico.com and we'll give you a free key.

### Acces Token
Getting an Access token takes zero effort. We'll provide you one when giving you anyour API Key.

## Projects [/projects]
Project is where all your content is stored. Both content inventory and content models are always a part of a project.
+ Attributes
    + project_id: `54da688e-5489-467d-bd25-28882f4f054d` (string, required)
    + name: `Sample project` (string, required)

### Get All Projects [GET]
+ Request
    + Headers
    
            Authorization: Bearer {access_token}

+ Response 200 (application/json)
    + Attributes (array[Project])

## Content Types [/projects/{project_id}/types]
Content types define the structure of your content items.
+ Parameters

    + project_id: `54da688e-5489-467d-bd25-28882f4f054d` (string, required)
    
### Get all Content Types [GET]
+ Request
    + Headers
    
            Authorization: Bearer {access_token}

+ Response 200 (application/json)
    + Attributes (array[Content Type])
    
## Content Items [/projects/{project_id}/items{?sitemap_location,workflow_status,content_type}]

+ Parameters

    + project_id: `21111b5e-6cc9-46b2-a27b-c28c5f4a0b4f` (string, required)
    + sitemap_location: `31675d56-513b-438b-a9ac-9b7ebcf91efa` (string, optional) - Include sitemap location ID to get only items assigned to this location. You can use this parameter multiple times to get items from more locations at once.
    + workflow_status: `2e9b7cdd-e623-4918-a3f0-eb237878723c` (string, optional) - Include workflow status ID to get only items with this status. For example, only approved items.
    + content_type: `2e9b7cdd-e623-4918-a3f0-eb237878723c` (string, optional) - Include content type ID to get only items of this type.

### Get Content Items [GET]
Content inventory holds all your content items.
+ Request
    + Headers

            Authorization: Bearer {access_token}

+ Response 200 (application/json)
    + Attributes 
        + data (array[Content Item])
        + metadata - simple forward only paging
            + items_count: 128
            + pages_count: 13
            + current_page: 1
            + next: `https://api-draft.kenticocloud.com/projects/54da688e-5489-467d-bd25-28882f4f054d/items?page=2`
    
## Workflow [/projects/{project_id}/workflow]

+ Parameters

    + project_id: `54da688e-5489-467d-bd25-28882f4f054d` (string, required)

### Get Workflow [GET]
Workflos steps help you to distinguish what items are approved for import.
+ Request
    + Headers

            Authorization: Bearer {access_token}

+ Response 200 (application/json)
    + Attributes (array[Workflow Status])
    
## Sitemap [/projects/{project_id}/sitemap]

+ Parameters

    + project_id: `54da688e-5489-467d-bd25-28882f4f054d` (string, required)

### Get Sitemap [GET]
Sitemap location helps you to get only content items which you're currently importing.
+ Request
    + Headers

            Authorization: Bearer {access_token}

+ Response 200 (application/json)
    + Attributes (Sitemap)
    
            
## Assets [/projects/{project_id}/asset/{asset_id}]

+ Parameters

    + project_id: `54da688e-5489-467d-bd25-28882f4f054d` (string, required)
    + asset_id: `287b779d-9ceb-4c8f-96c4-ea4fdb22b09d` (string, required) 

### Get Asset Download Link [GET]
Kentico Draft API allows you to generate a download link for your assets. Download link expires after 60 minutes.

+ Request
    + Headers

            Authorization: Bearer {access_token}

+ Response 200 (application/json)
    + Attributes
        + link: `https://horusdevelopment.blob.core.windows.net/54da688e-5489-467d-bd25-28882f4f054d/287b779d-9ceb-4c8f-96c4-ea4fdb22b09d/blogpost_teaser.jpg?sv=2015-02-21&sig=FVArbWI7zCodmEMJ69DE4JCiyfhqj` (string, required) - Temporary asset download link.
        + exp: `2016-06-11T12:55:28.29493Z` (string, required) - Asset download link expiration date and time in ISO 8601 format.

##########################################################

# Data Structures

## Project (object)
+ `project_id` : `21111b5e-6cc9-46b2-a27b-c28c5f4a0b4f` (string)
+ name: Sample Project (string)

## Content Type (object)
+ `type_id`: `2e9b7cdd-e623-4918-a3f0-eb237878723c` (string, required)
+ name: Blog (string, required) - Max 50 characters
+ elements (array)
    - (TextTypeElement)
    - (RichTextTypeElement)
    - (NumberTypeElement)
    - (DateTimeTypeElement)
    - (AssetTypeElement)
    - (ModularContentTypeElement)

## TypeElementBase (object)
+ `type_element_id` (string, required)
+ name (string, required)
+ type (enum, required)
    - string
    - number
    - rich_text
    - assets
    - modular_content
    - date_time

## AssetTypeElement (TypeElementBase)
+ `type_element_id`: `a3a31bea-fbbf-4534-8002-a1907955f537`
+ name: Teaser image
+ type: assets

## DateTimeTypeElement (TypeElementBase)
+ `type_element_id`: `3697b5c0-4139-4304-b09d-fff5bc3ccdd4`
+ name: Publication date
+ type: date_time

## NumberTypeElement (TypeElementBase)
+ `type_element_id`: `644d2ddc-2af5-4665-8c04-6ceb2ad1313b`
+ name: Price in USD
+ type: number

## TextTypeElement (TypeElementBase)Add+ `type_element_id`: `f97149c2-ac83-49c1-b23d-9ba597460a10`
+ name: Title
+ type: text

## RichTextTypeElement (TypeElementBase)
+ `type_element_id`: `af4ca3fb-870a-48b0-88bf-10175a6efc3e`
+ name: Body
+ type: rich_text

## ModularContentTypeElement (TypeElementBase)
+ `type_element_id`: `c7599588-edbd-4ae0-a5dc-91c3240916ef`
+ name: Features
+ type: modular_content

############################################

## Content Item (object)
+ `item_id`: `f22608f6-f037-4dda-8869-9924023fec7b` (string, required)
+ `type_id` : `2e9b7cdd-e623-4918-a3f0-eb237878723c` (string, required) 
+ name: `Blog post (string, required)` - Max 50 characters
+ sitemam_location (array[string])
    - `21111b5e-6cc9-46b2-a27b-c28c5f4a0b4f`
    - `2e9b7cdd-e623-4918-a3f0-eb237878723c`
+ last_modified: 2016-06-09T14:41:10.6814919Z (string, required)
+ workflow_status (Workflow Status, required)
+ elements (array)
    - (TextItemElement)
    - (RichTextItemElement)
    - (NumberItemElement)
    - (DateTimeItemElement)
    - (AssetItemElement)
    - (ModularContentItemElement)

## Workflow Status (object)
+ workflow_id: 2e9b7cdd-e623-4918-a3f0-eb237878723c
+ name: Draft (string, required)
+ color: red (enum, required)
    - red
    - pink
    - purple
    - `deep-purple`
    - indigo
    - blue
    - cyan
    - teal
    - green
    - `light-green`
    - lime
    - yellow
    - amber
    - orange
    - brown
    - grey
    - `light-grey`

## ItemElementBase (object)
+ `item_id` (string, required)
+ name (string, required)
+ type (enum, required)
    - string
    - number
    - rich_text
    - assets
    - modular_content
    - date_time
    
## Asset (object)
+ asset_id: 924ea5f1e4c68ed8 (string, required)
+ name: blogpost_teaser.jpg (string, required) - file name
+ type: image/jpg (string, required) - file mime type
+ size: 135897 (number, required) - size of file (unsigned integer)
+ last_modified: 2016-03-31T08:04:14.7525987Z (string, required) - time of asset upload

## AssetItemElement (ItemElementBase)
+ `item_id`: `a3a31bea-fbbf-4534-8002-a1907955f537`
+ type: asset
+ name: Teaser image
+ value (array[Asset], required) - list of assets

## DateTimeItemElement (ItemElementBase)
+ `item_id`: `323344d1-0c9b-473f-b4ed-64c6d8517ac6`
+ name: Publication date
+ type: date_time (string, optional) - ISO 8601 date time
+ value: 2016-03-19T00:00:00Z

## NumberItemElement (ItemElementBase)
+ `item_id`: `97b08987-e080-431e-bb8d-b3da93ea63f9`
+ name: Price in USD
+ value: 49.9 (number, optional)

## TextItemElement (ItemElementBase)
+ `item_id`: `3da49f85-ae9d-4974-9f8b-f2935f9027bf`
+ name: Title
+ type: text
+ value: Sample blog post (string, optional)

## RichTextItemElement (ItemElementBase)
+ `item_id`: `763bf239-075c-41e8-b5b2-704cc7e9fc0c`
+ name: Body
+ type: rich_text
+ value: `<p>There are many different types of blogs, differing not only in the type of content, but also in the way that content is delivered or written.&nbsp;</p>\n<h2>Personal blogs</h2>` (string, optional)

## Content Item Reference (object)
+ `item_id`: `02845986-6c4f-4eb6-a820-e8f4493feacd` (string, required)
+ name: Blog post (string, required)
+ link: `https://api-draft.kenticocloud.com/projects/54da688e-5489-467d-bd25-28882f4f054d/items/02845986-6c4f-4eb6-a820-e8f4493feacd`

## ModularContentItemElement (ItemElementBase)
+ `item_id`: `31675d56-513b-438b-a9ac-9b7ebcf91efa`
+ name: Features
+ type: modular_content
+ value (array[Content Item Reference], required)

############################################

## Sitemap Node (object)
+ `sitemap_node_id`: `31675d56-513b-438b-a9ac-9b7ebcf91efa` (string, required)
+ name: Home (string, required)
+ children (array[Sitemap Node])

## Sitemap (object)
+ nodes (array[Sitemap Node])