FORMAT: 1A
HOST: http://api-draft.kenticocloud.com/

# Kentico Draft API

![Kentico Draft](https://kenticocloud.com/logotypes/kentico_draft_rgb_small.png)

This API allows consumers to fetch content created in Kentico Draft for 
various purposes with scpecial attention to import to other systems
(CMS, ECommerce, CDN, ...) needs.

## Authorization

### API Key

### Auth0 account

## Project [/projects]

+ Attributes
    + project_id: `61e58692-47c2-4e3c` (string, required)
    + name: `The Web Project` (string, required)

### Get All Projects [GET]
+ Response 200 (application/json)
    + Attributes (array[Project])

    + Body
    
            [
                {"project_id": "61e58692-47c2-4e3c", "name": "The Web Project"}, 
                {"project_id": "3d05c3b1-c51e-4973", "name": "A Better Web"}
            ]
            
    + Schema
    
            {  
                "$schema":"http://json-schema.org/draft-04/schema#",
                "type":"array",
                "items":{  
                    "type":"object",
                    "properties":{  
                        "project_id":{  
                            "type":"string",
                            "maxLength":40
                        },
                        "name":{  
                            "type":"string",
                            "maxLength":200
                        }
                    },
                    "required":[  
                        "project_id",
                        "name"
                    ]
                }
            }            
            
### Get Projects [GET /projects/{project_id}]

+ Parameters

    + project_id: `61e58692-47c2-4e3c` (string, required)

+ Response 200 (application/json)
    + Attributes (Project)
    
## Content Types [/projects/{project_id}/types]

+ Parameters

    + project_id: `61e58692-47c2-4e3c` (string, required)
    
+ Attributes
    + type_id: `47c2-4e3c-12598` (string, required)
    + name: `Blog` (string, required)
    + elements: 12, 13 (array, required)

### Get all Content Types [GET]
+ Response 200 (application/json)
    + Attributes (array[Content Type])

# Data Structures

## Content Type (object)
+ elements (array)
    - (StringTypeElement)
    - (RichTextTypeElement)
    - (NumberTypeElement)

## TypeElementBase (object)
+ `type_element_id`: `89e4-5ed2e8c1c8e5` (string, required)
+ name (string, required)
+ type (enum, required)
    - string
    - number
    - rich_text
    - asset
    - modular_content
    - guidelines
    - date_time
+ guidelines (string)

## StringTypeElement (TypeElementBase)
+ name: Caption
+ type: string
+ default_value: `Arabica with hint of cinamon` (string) - Default value of element. Limit 100 000 characters.
+ guidelines: `Caption of article - max 70 characters` (string)

## RichTextTypeElement (StringTypeElement)
+ name: Description
+ type: rich_text
+ default_value: `Arabica with hint of <b>cinamon</b>` (string) - HTML string
+ guidelines: `Article - max 1000 characters` (string)

## NumberTypeElement (TypeElementBase)
+ name: Price in USD
+ type: number
+ default_value: 123 (number)